openapi: 3.0.3
info:
  title: FlightLabs Aircraft Pricing API
  description: 'Real-time and historical flight tracker and status API providing live data for flights, airports, schedules, timetables, IATA codes, airline routes, and flight pricing globally. Operated by Zyla Labs, FlightLabs offers 16+ endpoints covering live flights, flight delays, future predictions, airline routes, and flight pricing.

    '
  version: '1.0'
  contact:
    name: FlightLabs Support
    email: hello@goflightlabs.com
    url: https://www.goflightlabs.com
  termsOfService: https://www.goflightlabs.com/terms
  license:
    name: Commercial
    url: https://www.goflightlabs.com/pricing
servers:
- url: https://app.goflightlabs.com
  description: FlightLabs Production API
security:
- AccessKey: []
tags:
- name: Pricing
  description: Flight pricing and fare data endpoints
paths:
  /flight-prices:
    get:
      operationId: getFlightPrices
      summary: Flight Prices
      description: 'Search fares and pricing between airports on specified travel dates. Returns price estimates and availability information.

        '
      tags:
      - Pricing
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - $ref: '#/components/parameters/Limit'
      - name: depIata
        in: query
        description: Departure airport IATA code
        required: false
        schema:
          type: string
          example: JFK
      - name: arrIata
        in: query
        description: Arrival airport IATA code
        required: false
        schema:
          type: string
          example: LAX
      - name: date
        in: query
        description: Travel date (YYYY-MM-DD)
        required: false
        schema:
          type: string
          format: date
          example: '2026-07-01'
      - name: currency
        in: query
        description: Currency code for prices (ISO 4217)
        required: false
        schema:
          type: string
          example: USD
      responses:
        '200':
          description: Successful response with flight prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightPricesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /taxes:
    get:
      operationId: getTaxes
      summary: Aviation Taxes
      description: 'Retrieve aviation tax reference data including IATA tax codes and names.

        '
      tags:
      - Pricing
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - name: codeIataTax
        in: query
        description: IATA tax code
        required: false
        schema:
          type: string
          example: YQ
      responses:
        '200':
          description: Successful response with tax data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    TaxesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/TaxData'
    FlightPriceData:
      type: object
      description: Flight pricing data
      properties:
        dep_iata:
          type: string
          example: JFK
        arr_iata:
          type: string
          example: LAX
        airline_iata:
          type: string
          example: AA
        flight_iata:
          type: string
          example: AA100
        dep_time:
          type: string
          format: date-time
          example: '2026-07-01T10:00:00.000'
        arr_time:
          type: string
          format: date-time
          example: '2026-07-01T13:30:00.000'
        price:
          type: number
          format: float
          description: Price in specified currency
          example: 299.99
        currency:
          type: string
          description: Currency code (ISO 4217)
          example: USD
        seats_available:
          type: integer
          description: Number of seats available
          example: 12
        cabin_class:
          type: string
          enum:
          - economy
          - premium_economy
          - business
          - first
          example: economy
    TaxData:
      type: object
      description: Aviation tax reference data
      properties:
        taxId:
          type: string
          example: '1'
        nameTax:
          type: string
          example: Fuel Surcharge
        codeIataTax:
          type: string
          example: YQ
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              example: 101
            type:
              type: string
              example: invalid_access_key
            info:
              type: string
              example: You have not supplied a valid API Access Key.
    FlightPricesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/FlightPriceData'
  responses:
    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    Limit:
      name: limit
      in: query
      description: Maximum number of results to return (integer, up to 10000)
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        example: 100
    AccessKey:
      name: access_key
      in: query
      description: Your FlightLabs API access key
      required: true
      schema:
        type: string
        example: YOUR_ACCESS_KEY
  securitySchemes:
    AccessKey:
      type: apiKey
      in: query
      name: access_key
      description: API key obtained from your FlightLabs dashboard
externalDocs:
  description: FlightLabs API Documentation
  url: https://www.goflightlabs.com/dashboard#api-documentation
