openapi: 3.0.3
info:
  title: FlightLabs Aircraft Routes API
  description: 'Real-time and historical flight tracker and status API providing live data for flights, airports, schedules, timetables, IATA codes, airline routes, and flight pricing globally. Operated by Zyla Labs, FlightLabs offers 16+ endpoints covering live flights, flight delays, future predictions, airline routes, and flight pricing.

    '
  version: '1.0'
  contact:
    name: FlightLabs Support
    email: hello@goflightlabs.com
    url: https://www.goflightlabs.com
  termsOfService: https://www.goflightlabs.com/terms
  license:
    name: Commercial
    url: https://www.goflightlabs.com/pricing
servers:
- url: https://app.goflightlabs.com
  description: FlightLabs Production API
security:
- AccessKey: []
tags:
- name: Routes
  description: Airline route data endpoints
paths:
  /routes:
    get:
      operationId: getAirlineRoutes
      summary: Airlines Routes
      description: 'Retrieve airline route data updated every 24 hours. Returns flight schedule information including departure/arrival details, duration, aircraft type, and operational days.

        '
      tags:
      - Routes
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - $ref: '#/components/parameters/Limit'
      - name: dep_iata
        in: query
        description: Departure airport IATA code
        required: false
        schema:
          type: string
          example: JFK
      - name: dep_icao
        in: query
        description: Departure airport ICAO code
        required: false
        schema:
          type: string
          example: KJFK
      - name: arr_iata
        in: query
        description: Arrival airport IATA code
        required: false
        schema:
          type: string
          example: LAX
      - name: arr_icao
        in: query
        description: Arrival airport ICAO code
        required: false
        schema:
          type: string
          example: KLAX
      - name: airline_iata
        in: query
        description: Airline IATA code
        required: false
        schema:
          type: string
          example: AA
      - name: airline_icao
        in: query
        description: Airline ICAO code
        required: false
        schema:
          type: string
          example: AAL
      - name: flight_iata
        in: query
        description: Flight IATA code
        required: false
        schema:
          type: string
          example: AA100
      - name: flight_icao
        in: query
        description: Flight ICAO code
        required: false
        schema:
          type: string
          example: AAL100
      - name: flight_number
        in: query
        description: Flight number only
        required: false
        schema:
          type: string
          example: '100'
      - name: _fields
        in: query
        description: Comma-separated list of fields to return
        required: false
        schema:
          type: string
          example: dep_iata,arr_iata,airline_iata
      - name: offset
        in: query
        description: Pagination offset
        required: false
        schema:
          type: integer
          example: 0
      responses:
        '200':
          description: Successful response with route data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    RouteData:
      type: object
      description: Airline route data
      properties:
        airline_iata:
          type: string
          example: AA
        airline_icao:
          type: string
          example: AAL
        flight_iata:
          type: string
          example: AA100
        flight_icao:
          type: string
          example: AAL100
        flight_number:
          type: string
          example: '100'
        dep_iata:
          type: string
          example: JFK
        dep_icao:
          type: string
          example: KJFK
        dep_time:
          type: string
          description: Local departure time (HH:MM)
          example: '10:00'
        dep_time_utc:
          type: string
          description: UTC departure time (HH:MM)
          example: '15:00'
        dep_terminal:
          type: string
          example: '8'
        arr_iata:
          type: string
          example: LAX
        arr_icao:
          type: string
          example: KLAX
        arr_time:
          type: string
          description: Local arrival time (HH:MM)
          example: '13:30'
        arr_time_utc:
          type: string
          description: UTC arrival time (HH:MM)
          example: '21:30'
        arr_terminal:
          type: string
          example: '4'
        duration:
          type: integer
          description: Flight duration in minutes
          example: 330
        aircraft_icao:
          type: string
          example: B77W
        days:
          type: array
          description: Days of the week the route operates
          items:
            type: string
            enum:
            - mon
            - tue
            - wed
            - thu
            - fri
            - sat
            - sun
          example:
          - mon
          - wed
          - fri
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              example: 101
            type:
              type: string
              example: invalid_access_key
            info:
              type: string
              example: You have not supplied a valid API Access Key.
    RoutesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/RouteData'
  responses:
    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    Limit:
      name: limit
      in: query
      description: Maximum number of results to return (integer, up to 10000)
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        example: 100
    AccessKey:
      name: access_key
      in: query
      description: Your FlightLabs API access key
      required: true
      schema:
        type: string
        example: YOUR_ACCESS_KEY
  securitySchemes:
    AccessKey:
      type: apiKey
      in: query
      name: access_key
      description: API key obtained from your FlightLabs dashboard
externalDocs:
  description: FlightLabs API Documentation
  url: https://www.goflightlabs.com/dashboard#api-documentation
